<ion-header>
  <ion-toolbar>
    <ion-title>Crear tarea</ion-title>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancelNote()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveNote()" [strong]="true">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >

  <ion-list class="ion-padding-top" [inset]="true">
    <ion-item>
      <ion-input [(ngModel)]="title"  label="Fixed label" labelPlacement="floating" label="Titulo:"
        placeholder="Titulo de tu tarea">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="description" label="Descripción:" labelPlacement="floating" [autoGrow]="true" rows="4"
        placeholder="Coloca una descripción de tu tarea"> </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Fecha limite:</ion-label>
      <ion-datetime-button datetime="datetime" class="ion-padding"></ion-datetime-button>
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" min="{{timeNow}}" [(ngModel)]="dueTime"></ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-item *ngIf="isEditing">
      <ion-checkbox  [(ngModel)]="isDone" justify="space-between">Completar tarea</ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="isEditing">
  <ion-toolbar>
    <ion-grid *ngIf="isEditing">
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="cancelNote()" expand="block" fill="outline" shape="square">
            Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="saveNote()" expand="block" fill="solid" shape="square">
            Guadar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>