<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasker
    </ion-title>
    <ion-buttons *ngIf="isOnMultiSelectionMode" slot="start">
      <ion-button (click)="cancelSelectionMode()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!--
      <ion-button *ngIf="!isOnMultiSelectionMode" (click)="startSelectionMode()">Seleccionar</ion-button>
      -->
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="isOnMultiSelectionMode && countSelectedTasks() === 1" (click)="editMarkedTask()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isOnMultiSelectionMode && countSelectedTasks() >= 1" (click)="delAllMarkedTask()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>  
      <ion-button *ngIf="isOnMultiSelectionMode && countSelectedTasks() >= 1 && (filter === 'pendiente' || filter === 'vencida' ) " (click)="markAsCompleted()">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="filter">
  <ion-segment-button value="pendiente">
    <ion-label>Pendientes</ion-label>
  </ion-segment-button>
  <ion-segment-button value="vencida">
    <ion-label>Vencidas</ion-label>
  </ion-segment-button>
  <ion-segment-button value="completada">
    <ion-label>Completadas</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ng-container *ngIf="tasksLoaded; else loading">
    <ng-container *ngIf="getTasks().length !== 0; else noTasks">
      <ion-list [inset]="true">
        <ion-item *ngFor="let task of getTasks(); let i = index" (press)="startSelectionMode()"
          (click)="tapAction(task)">
          <ion-icon slot="start" name="square-outline" *ngIf="isOnMultiSelectionMode && !task.selected"></ion-icon>
          <ion-icon slot="start" name="checkbox" *ngIf="isOnMultiSelectionMode && task.selected"></ion-icon>
          <ion-label>{{task.title}}<br />
            <ion-note>{{task.description}}</ion-note><br />
            <ion-note>{{formatDate(task.dueTime)}}</ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </ng-container>


  <ng-template #noTasks>
    <div class="ion-text-center ion-padding">
      <h3>No hay elementos para mostrar. Presione “Agregar” para agregar nuevos elementos</h3>
    </div>
  </ng-template>

  <ng-template #loading>
    <p>Cargando tareas...</p>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="addNewTask()" expand="block" shape="square" class="ion-padding">
      Agregar
    </ion-button>
  </ion-toolbar>
</ion-footer>